@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Great+Vibes&display=swap');

.App {
  text-align: center;
}

/* ENCABEZADO PRINCIPAL */
.header {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px; /* Un poco más alto para mejor visibilidad */
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

/* CONTENIDO DEL ENCABEZADO */
.header-content {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye mejor los elementos */
  background: rgba(5, 5, 5, 0.15);
  padding: 12px 25px;
  border-radius: 20px;
  overflow: hidden;
}

/* TITULO DEL HEADER */
.header-titu {
  font-family: 'Lora', serif; /* Fuente más elegante */
  font-size: clamp(22px, 4vw, 32px); /* Ajuste dinámico mejorado */
  font-weight: bold;
  color: #ffffff; /* Blanco para mejor contraste */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada para resaltar */
  letter-spacing: 1.5px; /* Espaciado entre letras para elegancia */
  text-transform: uppercase; /* Mayúsculas para dar más presencia */
  background: linear-gradient(90deg,#030002, #3a0035 ); /* Degradado sutil para más estilo */
  padding: 10px 20px; /* Espaciado para mejor presentación */
  border-radius: 8px; /* Bordes redondeados */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto al pasar el mouse */
.header-titu:hover {
  transform: scale(1.05); /* Efecto de leve aumento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}
/* IMAGEN DEL HEADER */
.herader-img{
  width: 30%; /* Se adapta al contenedor */
  max-width: 200px; /* No crece más de 150px */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px; /* Bordes redondeados */
  object-fit: contain; /* Mantiene la imagen sin recortar */
} 

.header-img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

/* RESPONSIVIDAD PARA MÓVILES */
@media (max-width: 600px) {
  .header {
    height: 40px;
    padding: 8px 15px;
  }

  .header-content {
    padding: 8px 15px;
    gap: 10px;
  }

  .header-titu {
    font-size: clamp(16px, 4vw, 22px);
  }

  .header-img {
    max-width: 120px;
  }
}